#experience{
    margin: 0 $p;
    padding-top: 6vh;
    > h2 {
        font: 700 2.5rem $text2;
          width: fit-content;
          padding: 0.5rem;
          margin: auto;
    // margin-top: 2vh;

      }
      
}