#home {
    width: 100%;
    height: 80vh;
    display: flex;
    border-top: 1px inset $color6_2;
    // background-color: green;
    
  
    > section {
      width: 100%;
      // background-color: green;

  
      &:first-of-type {
        padding-left: $p;
        // border-top: $color6_2;

        // background-color: red;
  
        > div {
          // border-top:  solid $color6_2;
          height: 100%;
          padding-top: 2rem;
          .myName{
            // background-color: green;
            color:#F26440 ;
            font-weight: 600;
            font-size: xx-large;
            letter-spacing: 2px;
            padding: 0 1vh 0 0
          }
          > h2 {
            font: 300 1.5rem $text1;
            // background-color: blue;
          }
  
          .typewriterpara {
            height: 2px;
            letter-spacing: 5px;
            margin-top: -6rem;
            font-size: xx-large;
          }
  
          > div {
            display: flex;
            margin: 5rem 0;
            width: 50%;
            height: 10px;
            gap: 2rem;
            align-items: center;
            margin-bottom: -4rem;
            
            > a {
              &:first-of-type {
                background-color: $color3;
                color: $color1;
                padding: 0.8rem 1rem;
                transition: all 0.3s;
                &:hover {
                  background-color: $color3_1;
                }
              }
              &:last-of-type {
                font: 600 1.2rem $text2;
                color: $color5;
                display: flex;
                align-items: center;
                // background-color: red;
              }
            }
          }
  
          aside {
            display: flex;
            justify-content: space-between;
            width: 70%;
            margin-top: -6rem;
            // background-color: red;
          }
  
          article {
            // margin: 2rem 0;
            margin-top: 7rem ;
            width: 10rem;
            color: $color5;
            position: relative;
            // background-color: green;
  
            // &::after {
            //   content: "";
            //   background-color: $color4;
            // //   background-color: red;
            //   width: 100%;
            //   height: 5rem;
            //   border-radius: 50px;
            //   position: absolute;
            // //   top: 50%;
            //   left: 20%;
            //   z-index: -1;
            // }
            > p {
              font: 900 1rem $text1;
            }
            > span {
              font: 500 1rem $text2;
            }
          }
  
          article[data-special] {
            width: 8rem;
          }
        }
      }
  
      &:last-of-type {
        border-top: 0px solid $color6_2;
        // background-color: green;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow-x: hidden;
        // background-color: green;
  
        &::after {
          content: "";
          width: 40vmax;
          height: 40vmax;
        //   background-color: $color3;
          position: absolute;
          z-index: -1;
          border-radius: 50%;
          // background-color: red;
          
        }
  
        > img {
          // background-color: green;

          // width: 40vmax;
          object-fit: contain;
          height: 35vmax;
          -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin-top: -2vh;
 
        }
      }
    }
  
    > svg {
      position: absolute;
      font-size: 4rem;
      color: $color5;
      left: 50%;
      bottom: 5%;
      transform: translateX(-50%);
      animation: animateSvg 0.7s infinite linear alternate;
    }
    
  }