

.h2-speacial {
  font: 700 2.5rem $text2;

        width: fit-content;
        // border-bottom: 1px solid $color1;
        padding-top: 0.5rem;
        margin: auto;
}
.container {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  margin-top: 10vh;
  // margin-bottom: 5vh;
  column-gap: 20px;
  padding: 1vh;
  // background-color: red;
//   margin-bottom: 5vh;

  .col1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    background-color: #FEF2F1;
    box-shadow: 2.5px 5px 2.5px 5px #292b46;
    // border-radius: 10px;
    z-index: -1;
    color: black;
    border: 0.1px solid transparent;


    .img-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      //   background-color: red;
      width: 100%;
      margin-top: 2vh;

      > img {
        width: 100px;
        height: 100px;
        // border-radius: 100px;
        padding: 5px;
      }
    }
    .wrapper {
      width: 100%;
      // height: 30vh;
      padding-top: 10vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      //   background-color: yellow;
      //   margin: auto;
      .heading {
        text-align: center;
      }
      .content {
        text-align: center;
        font-weight: 300;

        // letter-spacing: 2px;
      }
    }
  }
}

