#technologies{
    width: 100%;
    padding: 2rem $p;
    background-color: $color1;
    color: $color5;
    // background-color: red;
    margin-top: -4rem;
    margin-bottom: 4rem;

    >h2{
        font: 700 2.5rem $text2;
      width: fit-content;
    //   border-bottom: 1px solid $color6_1;
      padding: 0.5rem;
      margin: auto;

    }
    

    .image-container{
        display: flex;
        justify-content:center;
        align-items:center;
        // background-color: red;
        padding:0 $p;
        overflow-x: hidden;
        overflow-y: hidden;
        width: 100%;


        >img{
              margin-top: 4rem;
                filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.322)) hue-rotate(200deg);
                animation: moveRight 5s infinite linear alternate, normal, reverse;;
              }
    }

    
    
    
          
}
