#work {
  padding: 0 $p;
  width: 100%;

  > h2 {
    font: 700 2.5rem $text2;
    width: fit-content;
    padding: 0.5rem;
    margin: auto;
  }

  > section {
    padding-top: 4rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    > article {
      width: 100%;
      height: 100%;
    }

    .workItem {
      overflow-y: auto;
      height: 30vmax;
      width: 85%;
      margin: auto;
      display: flex;
      border-radius: 20px;

      > img {
        width: 50%;
        object-fit: cover;
        // background-color: red;
      }

      > aside {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $color4;
        object-fit: cover;

        .aside-box {
          > a {
            background-color: $color3;
            padding: 0.7rem 2rem;
            margin-top: 4rem;
            margin-left: 0.5vh;
            color: $color4;
            transition: all 0.5s;
            &:hover {
              background-color: $color3_1;
            }
          }
        }

        > p {
          letter-spacing: 1px;
          line-height: 200%;
        }
      }
    }
  }
}
